<h1 class="header">Please fill out the membership application form below to apply for a <span>{{ membership?.name }}
  membership</span>
</h1>

<form [formGroup]="membershipApplicationForm" (ngSubmit)="onSubmit()" *ngIf="membership && membership!==undefined">


  <div class="form-group" *ngFor="let index of getMemberArray(membership.adults)">
    <h2>{{ index === 1 ? 'Primary member' : 'Joint member' }} data</h2>
    <div class="fields">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input type="date" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group" *ngFor="let index of getMemberArray(membership.seniors)">
    <h2>{{ index === 0 && membership.adults === 0 ? 'Primary member' : 'Joint member' }} data</h2>
    <div class="fields">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input type="date" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-label>Mobile</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group" *ngFor="let index of getMemberArray(membership!.children)">
    <h2>{{ membership?.getOrdinalSuffix(index) }} child data</h2>
    <div class="fields">
      <mat-form-field>
        <mat-label>Firstname</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input type="date" matInput required>
      </mat-form-field>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <h2>Contact details</h2>
    <div class="fields">
      <mat-form-field>
        <mat-label>Postcode</mat-label>
        <input type="text" matInput [value]="membership!.postcode" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telephone</mat-label>
        <input type="phone" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input type="text" matInput required>
      </mat-form-field>
    </div>
    <div class="fields">
      <button type="button" mat-raised-button color="white">Download form</button>
      <button type="submit" mat-raised-button color="white">Submit form</button>
    </div>
  </div>
</form>
