<div class="wrapper">
  <header>
    <h1>Pricing Calculator</h1>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-container">
      <p>Please send the form to the Secretary at the St. Julians Club address.</p>
      <p>Send no remittance when applying.</p>
      <p>The Club Secretary will be in touch with you as soon as space becomes available.</p>
      <p>From that time, a member is entitled to all the privileges of membership and is bound by Club Rules and House
        Rules.</p>
      <button type="button" mat-raised-button color="primary">Apply to join</button>
    </div>
  </footer>
</div>
