
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  color: white !important;
  font-family: "EB Garamond", serif !important;
  background: linear-gradient(0deg, var(--colour-black-10, rgba(0, 0, 0, 0.10)) 0%, var(--colour-black-10, rgba(0, 0, 0, 0.10)) 100%), var(--colour-rosemary, #668077);
}

header {
  text-align: center;
  padding: 20px 0;
  background: var(--colour-rosemary, #668077);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;


  a {
    color: white;
  }
}


footer {
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  background: var(--colour-gold, #AE9A64);
  justify-content: center;

  .footer-container {
    margin: 80px auto;
    text-align: center;
    padding: 20px;
    max-width: 742px;
    font-size: 16px;
  }

  button {
    background: white;
    color: var(--button-invert-text, #204232);
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    padding: 16px 20px;
    margin-top: 32px;
  }
}

h1 {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers the content */
  justify-content: center; /* Vertically centers the content */

  form {
    font-family: "Montserrat", sans-serif;
  }

}
