<div class="wrapper">
  <header>
    <h1>Pricing Calculator</h1>
  </header>

  <main class="content">
    <section class="membership-cards">
      <mat-card class="membership-card" [class.selected]="membershipForm.get('selectedMembership')?.value  === 'full'"
                (click)="selectMembership('full')">
        <h2>Full Membership</h2>
        <p>Full membership covers the use of the swimming pools, tennis courts, bar and restaurant facilities, gardens,
          all play areas, and woodland walks.</p>
      </mat-card>

      <mat-card class="membership-card" [class.selected]="membershipForm.get('selectedMembership')?.value === 'social'"
                (click)="selectMembership('social')">
        <h2>Social Membership</h2>
        <p>Social membership covers the use of the bar and restaurant facilities, gardens, some play areas, and woodland
          walks.</p>
      </mat-card>
    </section>

    <form [formGroup]="membershipForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Adults</label>
        <div class="options">
          <button type="button" mat-button [class.selected]="membershipForm.get('adults')?.value === 1"
                  (click)="setAdults(1)">1
          </button>
          <button type="button" mat-button [class.selected]="membershipForm.get('adults')?.value === 2"
                  (click)="setAdults(2)">2
          </button>
        </div>
      </div>

      <div class="form-group">
        <label>Children</label>
        <div class="options">
          <button *ngFor="let count of childrenCounts" type="button" mat-button
                  [class.selected]="membershipForm.get('children')?.value === count"
                  (click)="setChildren(count)">
            {{ count }}
          </button>
        </div>
      </div>

      <div class="form-group">
        <label>Do you have a nanny?</label>
        <div class="options">
          <button type="button" mat-button [class.selected]="membershipForm.get('nanny')?.value === true"
                  (click)="setNanny(true)">Yes
          </button>
          <button type="button" mat-button [class.selected]="membershipForm.get('nanny')?.value === false"
                  (click)="setNanny(false)">No
          </button>
        </div>
      </div>

      <div class="form-group">
        <label>Have you been a member in the past?</label>
        <div class="options">
          <button type="button" mat-button [class.selected]="membershipForm.get('pastMember')?.value === true"
                  (click)="pastMember(true)">Yes
          </button>
          <button type="button" mat-button [class.selected]="membershipForm.get('pastMember')?.value === false"
                  (click)="pastMember(false)">No
          </button>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput maxlength="7" formControlName="postcode" placeholder="Enter your postcode" id="postcode">
          <mat-hint align="start" *ngIf="!distance">If you live further than 12.5 miles in a direct line from St Julians,
            you are eligible for a discount.
          </mat-hint>
          <mat-hint align="start" *ngIf="distance&&distance>12.5">Your address is {{distance}} miles from St Julians. A
            discount has been applied below.
          </mat-hint>
          <div
            *ngIf="membershipForm.get('postcode')?.invalid && (membershipForm.get('postcode')?.dirty || membershipForm.get('postcode')?.touched)">
            <div *ngIf="membershipForm.get('postcode')?.errors?.['required']">Postcode is required.</div>
            <div *ngIf="membershipForm.get('postcode')?.errors?.['invalidPostcode']">Invalid UK postcode.</div>
          </div>
        </mat-form-field>
      </div>

      <div class="pricing-table">
        <div class="row">
          <div class="table-cell">Entrance fee*</div>
          <div class="table-cell">
            <span *ngIf="!costs">TBC</span>
            <span *ngIf="costs">{{ costs.entrance_fee }}</span>
          </div>
        </div>
        <div class="row">
          <div class="table-cell">Monthly cost</div>
          <div class="table-cell">
            <span *ngIf="!costs">TBC</span>
            <span *ngIf="costs">{{ costs.monthly_cost }}</span>
          </div>
        </div>
        <div class="row">
          <div class="table-cell">Annual cost</div>
          <div class="table-cell">
            <span *ngIf="!costs">TBC</span>
            <span *ngIf="costs">{{ costs.annual_cost }}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <p class="hint-note">*If you are joining St Julians for the first time you must pay an entrance fee. If you have
          been a member in the
          past, please contact the Club Secretary.</p>
      </div>

      <div class="button-container">
        <button mat-raised-button type="submit" [disabled]="membershipForm.valid" color="primary">Start application
        </button>
        <div>or <a href="#">download application form</a></div>
      </div>
    </form>
  </main>

  <footer>
    <div class="footer-container">
      <p>Please send the form to the Secretary at the St. Julians Club address.</p>
      <p>Send no remittance when applying.</p>
      <p>The Club Secretary will be in touch with you as soon as space becomes available.</p>
      <p>From that time, a member is entitled to all the privileges of membership and is bound by Club Rules and House
        Rules.</p>
      <button type="button" mat-raised-button color="primary">Apply to join</button>
    </div>
  </footer>
</div>
